<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ss_Collection::collection" title="Collection" 
             module="Ss_Collection" sortOrder="10" 
             resource="Ss_Collection::collection" 
             parent="Magento_Backend::content"/>


        <add id="Ss_Collection::collection_collection" title="Manage Collections" 
             module="Ss_Collection" sortOrder="10" 
             parent="Ss_Collection::collection" 
             action="ss_collection/collection" 
             resource="Ss_Collection::collection_collection"/>

    </menu>
</config>
