<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="ss_collection" frontName="ss_collection">
            <module name="Ss_Collection"  before="Magento_Backend" />
        </route>
    </router>
</config>

