<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="wdc_criteo_feed_import" xsi:type="object">WDC\Criteo\Console\Feed\ImportCommand</item>
                <item name="wdc_criteo_feed_generate" xsi:type="object">WDC\Criteo\Console\Feed\GenerateCommand</item>
            </argument>
        </arguments>
    </type>
    <preference for="WDC\Criteo\Api\Feed\GeneratorInterface" type="WDC\Criteo\Model\Feed\CsvGenerator" />
</config>