<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Footer @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

<tr>
    <td>
        <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
                    <td bgcolor="#1d1d1d">
                        <table border="0" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                    <td height="50"></td>
                                </tr>
                                <tr>
                                    <td width="45"></td>
                                    <td width="555">
                                        <table border="0" cellpadding="0" cellspacing="0" width="555">
                                            <tbody><tr>
                                                    <td height="48">
                                                        <p style="text-transform: uppercase;color: #ffffff; font-size: 19px; font-family: OpenSans-Bold, Arial, sans-serif; margin: 0; font-weight: bold; letter-spacing: 4px">{{trans 'Follow Us'}}</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tbody><tr>
                                                                    <td align="left" width="70" height="60"><a href="{{var link_instagram}}" title="{{trans 'Instagram'}}"><img src="{{view url=images/upload/newsletter/icon-instagram.jpg}}"></a></td>
                                                                    <td align="left" width="60" height="60"><a href="{{var link_facebook}}" title="{{trans 'Facebook'}}"><img src="{{view url=images/upload/newsletter/icon-facebook.jpg}}"></a></td>
                                                                    <td align="left" width="60" height="60"><a href="{{var link_twitter}}" title="{{trans 'Twitter'}}"><img src="{{view url=images/upload/newsletter/icon-twitter.jpg}}"></a></td>
                                                                    <td align="left" width="60" height="60"><a href="{{var link_pin}}" title="{{trans 'Pinterest'}}"><img src="{{view url=images/upload/newsletter/icon-pinterest.jpg}}"></a></td>
                                                                </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="35"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="555">
                                                            <tbody><tr height="52">
                                                                    <td width="280">
                                                                        <p style="text-transform: uppercase; color: #ffffff; font-size: 19px; font-family: OpenSans-Regular, Arial, sans-serif; text-align: left; letter-spacing: 4px; margin: 0; font-weight: bold">{{trans 'About Us'}}</p>
                                                                    </td>
                                                                    <td width="275">
                                                                        <p style="text-transform: uppercase; color: #ffffff; font-size: 19px; font-family: OpenSans-Regular, Arial, sans-serif; text-align: left; letter-spacing: 4px; margin: 0; font-weight: bold">{{trans 'Assistance'}}</p>
                                                                    </td>
                                                                </tr>
                                                                <tr height="40">
                                                                    <td width="280"><a href="{{store url=""}}about-us" title="{{trans 'Our Designers'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Our Designers'}}</span></a></td>
                                                                    <td width="275"><a href="{{store url=""}}customer/account/login" title="{{trans 'Account'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Account'}}</span></a></td>
                                                                </tr>
                                                                <tr height="40">
                                                                    <td width="280"><a href="{{store url=""}}ss-diamonds" title="{{trans 'S&S Diamond'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'S&S Diamond'}}</span></a></td>
                                                                    <td width="275"><a href="{{store url=""}}assistance/care" title="{{trans 'Care & Repair'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Care & Repair'}}</span></a></td>
                                                                </tr>
                                                                <tr height="40">
                                                                    <td width="280"></td>
                                                                    <td width="275"><a href="{{store url=""}}assistance/return" title="{{trans 'Return & Exchangers'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Return & Exchangers'}}</span></a></td>
                                                                </tr>
                                                                <tr height="40">
                                                                    <td width="280"></td>
                                                                    <td width="275"><a href="{{store url=""}}assistance/return" title="{{trans 'Shipping'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Shipping'}}</span></a></td>
                                                                </tr>
                                                                <tr height="40">
                                                                    <td width="280"></td>
                                                                    <td width="275"><a href="{{store url=""}}assistance/warranty" title="{{trans 'Lifetime Warranty'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Lifetime Warranty'}}</span></a></td>
                                                                </tr>
                                                                <tr height="40">
                                                                    <td width="280"></td>
                                                                    <td width="275"><a href="{{store url=""}}assistance/faq" title="{{trans 'FAQ'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'FAQ'}}</span></a></td>
                                                                </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="72"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="555">
                                                            <tbody><tr height="52">
                                                                    <td width="280">
                                                                        <p style="text-transform: uppercase; color: #ffffff; font-size: 19px; font-family: OpenSans-Bold, Arial, sans-serif; text-align: left; letter-spacing: 4px; margin: 0; font-weight: bold">{{trans 'Information'}}</p>
                                                                    </td>
                                                                    <td width="275">
                                                                        <p style="text-transform: uppercase; color: #ffffff; font-size: 19px; font-family: OpenSans-Bold, Arial, sans-serif; text-align: left; letter-spacing: 4px; margin: 0; font-weight: bold">{{trans 'Services'}}</p>
                                                                    </td>
                                                                </tr>
                                                                <tr height="40">
                                                                    <td width="280"><a href="{{store url=""}}terms" title="{{trans 'Legal'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Legal'}}</span></a></td>
                                                                    <td width="275"><a href="{{store url=""}}services" title="{{trans 'Concierge Services'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Concierge Services'}}</span></a></td>
                                                                </tr>
                                                                <tr height="40">
                                                                    <td width="280"><a href="{{store url=""}}privacy-policy" title="{{trans 'Privacy Policy'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Privacy Policy'}}</span></a></td>
                                                                </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="72"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="510">
                                                            <tbody><tr>
                                                                    <td height="52">
                                                                        <p style="text-transform: uppercase; color: #ffffff; font-size: 19px; font-family: OpenSans-bold, Arial, sans-serif; text-align: left; letter-spacing: 4px; margin: 0; font-weight: bold">{{trans 'CONTACT US'}}</p>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="40"><a href="#" title="{{trans 'Visit Us'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Visit Us'}}</span></a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="40"><a href="#" onclick="return SnapEngage.startLink();" title="{{trans 'Instant Chat'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Instant Chat'}}</span></a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="40"><a href="mailto:information@stoneandstrand.com" title="{{trans 'Email Us'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Email Us'}}</span></a></td>
                                                                </tr>
                                                                <tr>
                                                                    <td height="40"><a href="mailto:information@stoneandstrand.com" title="{{trans 'Video Call'}}" style="text-decoration: none; color: #ffffff"><span style="color: #ffffff; font-size: 17px; font-family: OpenSans-Regular, Arial, sans-serif">{{trans 'Video Call'}}</span></a></td>
                                                                </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40"></td>
                                </tr>
                            </tbody></table>
                    </td>
                </tr>
            </tbody></table>
    </td>
</tr>
</tbody>
</table>
</body>
</html>
