<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Welcome to {{var store.getFrontendName()}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<tr>
        <td>
          <table width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td align="center" width="600"><img src="{{var signup_banner}}" width="600" height="360"></td>
            </tr>
            <tr>
              <td height="25">&nbsp;</td>
            </tr>
            <tr>
              <td align="center" height="28">
                <p style="width: 460px; color: #1d1d1d; font-size: 11px; font-family: OpenSans-Regular, Arial, sans-serif; font-weight: bold; margin: 0; letter-spacing: 2px">OH, HI.</p>
              </td>
            </tr>
            <tr>
              <td align="center" valign="middle" height="44">
                <p style="width: 460px; color: #1d1d1d; font-size: 30px; line-height: 30px; font-family: PlayfairDisplay-Regular, Arial, sans-serif; margin: 0">{{var welcome_title}}</p>
              </td>
            </tr>
            <tr>
              <td height="15">&nbsp;</td>
            </tr>
            <tr>
              <td align="center">
                <p style="width: 460px; color: #010101; font-size: 16px; line-height: 24px; font-family: OpenSans-Regular, Arial, sans-serif">{{var welcome_content}}</p>
              </td>
            </tr>
            <tr>
              <td height="25">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><img src="{{view url=images/upload/newsletter/signature.jpg}}" width="319" height="70"></td>
            </tr>
            <tr>
              <td height="75">&nbsp;</td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="600" height="12">
                  <tbody><tr>
                    <td align="right" valign="middle" style="line-height: 12px"><img src="{{view url=images/upload/newsletter/Line-1.jpg}}" height="11" width="161" style="width: 161px; height: 11px; display: block"></td>
                    <td align="center" valign="middle" height="12"><span style="text-transform: uppercase; font-size: 11px; color: #1d1d1d; font-family: OpenSans-Regular, Arial, sans-serif; margin: 0; letter-spacing: 2px; font-weight: bold">{{trans "WHY WE'RE DIFFERENT"}}</span></td>
                    <td align="left" valign="middle" style="line-height: 12px"><img src="{{view url=images/upload/newsletter/Line-1.jpg}}" height="11" width="161" style="width: 161px; height: 11px; display: block"></td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="520" align="center">
                  <tbody><tr>
                    <td height="65">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" width="250"><a href="#" title="Image-1"><img src="{{var lifetime_image}}" width="250" height="250"></a></td>
                    <td width="35"></td>
                    <td align="center" width="235">
                      <table border="0" cellpadding="0" cellspacing="0" width="235">
                        <tbody><tr>
                          <td>
                            <p align="center" style="text-transform: uppercase; color: #1d1d1d; font-size: 11px; font-family: OpenSans-Regular, Arial, sans-serif; margin: 0; font-weight: bold; letter-spacing: 2px">{{trans "%lifetime_title" lifetime_title=$lifetime_title}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <p style="font-size: 16px; color: #1d1d1d; font-family: PlayfairDisplay-Regular, Arial, sans-serif; line-height: 24px; margin-bottom: 0">{{trans "%lifetime_content" lifetime_content=$lifetime_content}}</p>
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                  <tr>
                    <td height="60">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" width="250"><a href="#" title="Image-2"><img src="{{var shipping_image}}" width="250" height="250"></a></td>
                    <td width="35"></td>
                    <td align="center" width="235">
                      <table border="0" cellpadding="0" cellspacing="0" width="235">
                        <tbody><tr>
                          <td>
                            <p align="center" style="text-transform: uppercase; color: #1d1d1d; font-size: 11px; ; font-family: OpenSans-Regular, Arial, sans-serif; margin: 0; font-weight: bold; letter-spacing: 2px">{{trans "%shipping_title" shipping_title=$shipping_title}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <p style="font-size: 16px; color: #1d1d1d; font-family: PlayfairDisplay-Regular, Arial, sans-serif; line-height: 24px; margin-bottom: 0">{{trans "%shipping_content" shipping_content=$shipping_content}}</p>
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                  <tr>
                    <td height="60">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" width="250"><a href="#" title="Image-3"><img src="{{var cash_image}}" width="250" height="250"></a></td>
                    <td width="35"></td>
                    <td align="center" width="235">
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                          <td>
                            <p align="center" style="text-transform: uppercase; color: #1d1d1d; font-size: 11px; ; font-family: OpenSans-Regular, Arial, sans-serif; margin: 0; font-weight: bold; letter-spacing: 2px">{{trans "%cash_title" cash_title=$cash_title}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <p style="font-size: 16px; color: #1d1d1d; font-family: PlayfairDisplay-Regular, Arial, sans-serif; line-height: 24px; margin-bottom: 0">{{trans "%cash_content" cash_content=$cash_content}}</p>
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                  <tr>
                    <td height="80">&nbsp;</td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="600">
                  <tbody><tr>
                    <td>
                      <table border="0" cellpadding="0" cellspacing="0" width="600" height="12">
                        <tbody><tr>
                          <td align="right" valign="middle" style="line-height: 12px"><img src="{{view url=images/upload/newsletter/Line-2.jpg}}" height="11" width="187" style="width: 187px; height: 11px; display: block"></td>
                          <td align="center" valign="middle" height="12" style="padding: 0 14px"><span style="text-transform: uppercase; font-size: 11px; color: #1d1d1d; font-family: OpenSans-Regular, Arial, sans-serif; margin: 0; letter-spacing: 3px; font-weight: bold">{{trans "CONTACT US"}}</span></td>
                          <td align="left" valign="middle" style="line-height: 12px"><img src="{{view url=images/upload/newsletter/Line-2.jpg}}" height="11" width="187" style="width: 187px; height: 11px; display: block"></td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" height="155">
                      <table border="0" cellpadding="0" cellspacing="0" width="500">
                        <tbody><tr>
                          <td width="260" align="center">
                            <table width="250" cellpadding="0" cellspacing="0" style="border-right: 1px solid #b2b2b2; text-align: center">
                              <tbody><tr>
                                <td height="58" align="center">
                                  <p style="font-size: 28px; color: #1d1d1d; font-family: PlayfairDisplay-Regular, Arial, sans-serif; margin: 0">{{trans "Call or Visit Us"}}</p>
                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                          <td width="30">&nbsp;</td>
                          <td width="220" align="left">
                            <table border="0" cellpadding="0" cellspacing="0">
                              <tbody><tr>
                                <td height="17">
                                  <table border="0" cellpadding="0" cellspacing="0" height="17">
                                    <tbody><tr height="17">
                                      <td valign="middle" style="line-height: 14px" width="24"><img src="{{view url=images/upload/newsletter/icon-map.jpg}}" alt="stone&amp;strand" width="8" height="13" style="width: 8px; height: 13px; display: block"></td>
                                      <td valign="middle" align="left" height="17"><a href="{{var Tribeca_Url}}" title="New" style="text-decoration: none"><span style="color: #1d1d1d; font-size: 10px; font-family: OpenSans-Regular, Arial, sans-serif; margin: 0; font-weight: bold; letter-spacing: 2px">{{trans "S&S TRIBECA"}}</span></a></td>
                                      <td valign="middle" style="line-height: 17px; padding-left: 7px"><img src="{{view url=images/upload/newsletter/icon-arrow.jpg}}" alt="stone&amp;strand" width="5" height="14" style="width: 5px; height: 14px; display: block"></td>
                                    </tr>
                                  </tbody></table>
                                </td>
                              </tr>
                              <tr>
                                <td height="17">&nbsp;</td>
                              </tr>
                              <tr>
                                <td height="14">
                                  <table border="0" cellpadding="0" cellspacing="0" width="200" height="14">
                                    <tbody><tr height="14">
                                      <td valign="middle" style="line-height: 14px" width="24"><img src="{{view url=images/upload/newsletter/icon-phone.jpg}}" alt="stone&amp;strand" width="10" height="14" style="width: 10px; height: 14px; display: block"></td>
                                      <td valign="middle" align="left" height="14">
                                        <p style="color: #1d1d1d; font-size: 10px; font-family: OpenSans-Regular, Arial, sans-serif; margin: 0; font-weight: bold; letter-spacing: 2px">{{config path="general/store_information/phone"}}</p>
                                      </td>
                                    </tr>
                                  </tbody></table>
                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
            <tr>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#ede1df">
                            <tbody><tr>
                                    <td height="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 0 20px"><a href="#" title="Never Boring. Totally Reliable." style="text-decoration: none; color: #1d1d1d"><span style="font-size: 30px; color: #1d1d1d; font-family: PlayfairDisplay-Regular, Verdana, sans-serif; text-decoration: none">Never Boring. Totally Reliable.</span></a></td>
                                </tr>
                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="100" align="center"><a href="{{store url=""}}assistance/warranty" title="Image-1"><img src="{{view url=images/upload/newsletter/BannerA-Lifetime-Warranty.jpg}}" alt="stone&amp;strand" height="100" width="100"></a></td>
                                </tr>
                                <tr>
                                    <td height="18">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center" width="265"><a href="{{store url=""}}assistance/warranty" title="Lifetime Warranty" style="text-decoration: none; color: #1d1d1d"><span style="font-size: 24px; color: #1d1d1d; font-family: PlayfairDisplay-Regular, Verdana, sans-serif; text-decoration: noe">Lifetime Warranty</span></a></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p style="font-size: 13px; color: #1d1d1d; font-family: OpenSans-Regular, Verdana, sans-serif; margin: 0">Some things really are forever. Shop confidently.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="100" align="center"><a href="{{store url=""}}assistance/return" title="Image-2"><img src="{{view url=images/upload/newsletter/BannerA-100-Day-Returns.jpg}}" alt="stone&amp;strand" height="100" width="100"></a></td>
                                </tr>
                                <tr>
                                    <td height="18">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center"><a href="{{store url=""}}assistance/return" title="100-Day Returns" style="text-decoration: none; color: #1d1d1d"><span style="font-size: 24px; color: #1d1d1d; font-family: PlayfairDisplay-Regular, Verdana, sans-serif; text-decoration: none">100-Day Returns</span></a></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p style="font-size: 13px; color: #1d1d1d; font-family: OpenSans-Regular, Verdana, sans-serif; margin: 0">Commitment issues? We get it. Take it slow.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="100" align="center"><a href="{{store url=""}}services" title="Image-3"><img src="{{view url=images/upload/newsletter/BannerA-Concierge-Service.jpg}}" alt="stone&amp;strand" height="100" width="100"></a></td>
                                </tr>
                                <tr>
                                    <td height="18">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center" width="265"><a href="{{store url=""}}services" title="Concierge Services" style="text-decoration: none; color: #1d1d1d"><span style="font-size: 24px; color: #1d1d1d; font-family: PlayfairDisplay-Regular, Verdana, sans-serif; text-decoration: none">Concierge Services</span></a></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <p style="font-size: 13px; color: #1d1d1d; font-family: OpenSans-Regular, Verdana, sans-serif; margin: 0">From engraving to picking that perfect gift, we’ve got you.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40">&nbsp;</td>
                                </tr>
                            </tbody></table>
                    </td>
                </tr>
          </tbody></table>
        </td>
      </tr>

{{template config_path="design/email/footer_template"}}
