<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject Reset your {{var store.getFrontendName()}} password @-->
<!--@vars {
"var customer.name":"Customer Name",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL"
} @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "Dear %name," name=$customer.name}}</p>
<p>{{trans "Please click on the link below to change your log in information."}}</p>
<p>{{trans "Don't hesitate to reach out for additional help!"}}</p>

<table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                        <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[id:$customer.id,token:$customer.rp_token],_nosid:1])}}" target="_blank">{{trans "Set a New Password"}}</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<p>{{trans "Best regards,"}}</p>
<p>{{config path='general/store_information/name'}} {{trans "Services Team"}}</p>
<p>{{config path='sstheme/email_config/customer_email'}}</p>
<p>{{config path='general/store_information/phone'}}</p>
<p>{{config path='general/store_information/street_line1'}}</p>
<p>{{config path='general/store_information/region_id'}}, {{config path='general/store_information/city'}} {{config path='general/store_information/postcode'}}, {{config path='general/store_information/country_id'}} </p>

{{template config_path="design/email/footer_template"}}
